
#content{
    margin-right: -32px;
}
.content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 164px;
    padding-left: 30px;
    padding-right: 16px;
    
    
}
.section-heading{
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: 6px underline #ff0000;
    margin-bottom: 32px;


}
/*Phần Giới Thiệu Về CLB*/
#content .content-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}
.members-list{
    margin-top: 20px;
    
}

#content .member-name{
    font-size: 18px;
    font-weight: 550;
    text-decoration: 3px underline #ff0000;
}
#content .member-avatar{
    margin-top: 15px;
    max-width: 100%;
    min-height: 142px;
    border-radius: 4px;
    
}
/*News Section*/
.news-section{
    background-color: #000;
}
.news-section > .content-section > .section-heading,
.news-section > .content-section > .section-sub-heading{
    color: #fff;
}


.news-content{
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    border-radius: 4%;
}
.list-legends{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.legends-item {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    margin: 1em;
    position: relative;
    overflow: hidden;
}
.legends-img{
    width: 250px;
    transition: 1s;
}
.legends-info{
    position: absolute;
    bottom: 6%;
    left: 0;
}
.legends-name{
    width: 50%;
    font-size: 24px;
    color: rgb(255, 255, 255, 1);
    font-weight: 550;

}
/* .legends-number::after{
    display: block;
    content: " ";
    height: 1px;
    width: 20px;
    background-color: red;
    transition: 1s;
} */
.legends-name::after{
    content: " ";
    display: block;
    width: 200px;
    height: 68px;
    background-color: rgba(248, 188, 188, 0.2);
    /* backdrop-filter: blur(2px); */
    position: absolute;
    bottom: -12px;
}

.legends-item:hover{
    cursor: pointer;
}
.legends-item:hover .legends-img{
    transform: scale(1.1);
}
.legends-item:hover .legends-name::before{
    width: 70%;
}

/*Phần Chú Thích Danh Giới*/
.tour-section .text-notify{
    color: #000;
    margin-top: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    font-style: italic;
}
/*tour-section*/
.tour-section{
    background-color: #fff;

}
#content .tour-section .section-sub-heading,
#content .tour-section .section-heading{
    color:#000;
}
/*Lịch Thi Đấu Lớn*/
.times{
    background-color: #000;
    color: #fff;
    padding: 5px 12px;
    border-radius: 12px;
}
.first-team{
    

}
.second-team{
    
}
span.name-team{
    text-transform: uppercase;
}
.logo-team{
    width: 30px

}
#match-day{
    background-color: rgba(0,0,0, 0.3);
    border-radius: 8px;
    border: 1px solid #000;
    text-align: center
}
#match-day li{
    display: inline-block;
    
}
.tour-month{
    
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline #000;
    letter-spacing: 1px;
    background-color: rgba(0,0, 0, 0.3);
}
/*Phần Về Đội Hình*/
.content-section .contact-teamwork-img{
    width: 70%;
    height: 75%;
    left: 0;
    top: 0;
    margin-top: 20px;
    margin-left: 8px;
  
}
.contact-teamwork-sub,
.contact-teamwork-member{
    margin-top: 20px;
    list-style-type: none;
    text-decoration: none;
    line-height: 32px;
    font-size: 15px;
    font-weight: 550;

}
.contact-teamwork-sub{
    margin-left: 16px;
}
.contact-teamwork-sub a{
    padding-right: 12px;
    text-decoration: none;
    color: #000;
}
.contact-teamwork-member a{
    text-decoration: none;
    color: #000;
}
.contact-teamwork-member a:hover{
    color: #ff0000;
    cursor: pointer;
}

/*Trận Cầu Tâm Điểm*/
.match-list{
    margin:  40px -8px 0;
   padding-bottom: 32px;

    

}
.match-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;

    
}
.match-img{
    width: 100%;
    display: block;

}
.match-body{
    padding: 20px;
    font-size: 18px;
    background-color: rgba(0,0,0, 0.1);
    


}
.match-heading{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 550;

}
.match-time{
    margin-top: 10px;

}
.match-text{
    margin-top: 10px;

}


.match-img:hover{
    opacity: 0.6;
}

